.header{
    background-color: black;
    border-radius: 10px;
}
.header__inner{
    padding: 20px 0px 20px 100px;
}
.header__logo {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.index__header{
    font-size: 18px;
    margin-bottom: 20px;
}
.index__content{
    text-align: center;
    padding-top: 40px;
}
.search-form{
    display: flex;
}